header{
      background-color: blue;
      color: white
}
body{
font-family:'Poppins',sans-serif;      
}
.estudante-imagem{
 width: 120px;     
}
.estudante-icone{
      width: 24px;
}
.estudante-div{
      text-align: center;
}